html{
    /*background: url(../images/home_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background: #3C3C3E;
}

body, html {
    height: 100%;
}

body {
    background : none;
}

#content {
    background: #689096;
    border-radius: 8px;
    height: 90%;
}

#chat-input {
    line-height: 1;
    resize: none;
}

#chat {
    overflow-y: scroll;
    height: 90%;
}

#chat div {
    padding-top: 10px;
}

#chat strong, #user-list li {
    padding: 0 !important;
    margin: 0 !important;
}

#chat .row {
    border-bottom: 1px solid #ccc;
}

#chat-frame {
    height: 90%;
}

#channel-list button {
    text-align: left;
}

#channel-list .badge {
    position: absolute;
    top: 25%;
    right: 10px;
}

.row-no-padding > .panel {
   padding: 0 !important;
   margin: 0 !important;
}

.top-buffer {
  margin-top: 1%;
}