html{
    background: url(../images/home_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: #3C3C3E;*/
}

body, html {
    height: 100%;
}

body {
    background : none;
}

#titleContainer{
    display:block;
    height: 200px;
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    margin-bottom: 0;
    background: url(../images/IRC_Clone_Title.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#titleContainer h1{
    text-align:center;
    font-family:Open Sans;
    font-size:60pt;
    color: white;
    font-weight: 100;
}
#footerContainer{
    display:block;
    height: 80px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;
    margin-bottom: 0;
    color:white;
    text-align:center;
    font-size:9pt;
    font-family:Open Sans;

    background: rgba(0, 0, 0, 0.92)
}
#footerContainer #textDiv{
    margin:auto;
    margin-top:15px;
    width:40%;
}

#logoImage{
    width:50px;
    height:100%;
    margin:0;
    margin-top:8px;
    
}
#navHome{
    margin:0;
    padding:0;
    line-height: 51px;
}

#loggedIn-form{
    font-family: Open Sans;
    font-size:14pt;
    width:40%;
    padding:0;
    margin:0;
    padding-top:7px;
    text-align:right;
}

#loggedIn-form #loggedInText{
    color:rgba(0, 138, 255, 0.6);
      height: 40px;
  line-height: 40px;
  white-space: nowrap;
}

#loggedIn-form #loggedInName{
    font-weight:600 !important;
    color:rgba(255, 164, 0, 0.8);
      height: 40px;
  line-height: 40px;
  white-space: nowrap;
}

#loggedIn-form p{
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

#btnLogout{
    font-weight:100;
    color: rgba(255, 255, 255, 0.84);
    font-family: Open Sans;
    font-size: 14pt;
    width:130px;
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
border: none;
text-align:start;

background: transparent;
background: url(../images/power_white.png) no-repeat 75px 8px;
background-size: 25px 25px;
margin-left:15px;
}
#btnLogout:hover{
    font-weight:400;
    color: rgb(255, 70, 70);
    text-shadow: 20px 0px  10px red;
    font-family: Open Sans;
    font-size: 13pt;
    

background: transparent;
background: url(../images/power_red.png) no-repeat 75px 8px;
background-size: 25px 25px;
}
#chat-content {
    background: rgba(83, 83, 83, 0.89);
    height: 90%;
    width: 98%;
    border-radius: 0 !important;
    margin-bottom:0;
}
#chat-content h1{
    color:white;
    text-align:center;
    font-family:Open Sans;
    font-weight:100;
}
#chat-content #channelsTitle{
    margin-top:5px;
}
#chat-frame{
    background-color: rgb(228, 228, 228);
}

#channel-list > span > button, #channel-list > span{
    background-color: transparent !important;
    background: transparent !important;
    border-left:none;
    border-right:none;
    opacity:0.5;
    border-color: rgba(111, 111, 111, 1);
}

#channel-list button, #channel-list > span {
    width: 100%;
}

#channel-list > .active, #channel-list > .active > button {
    background-color: rgba(27, 174, 215, 0.89) !important;
    opacity:1;
}
#channel-list button:hover {
    background-color: rgba(0, 80, 224, 0.4) !important;
    opacity:1;
}

#channel-list > span > span.input-group-addon {
    color: #f00;;
    padding: 2px 2px;
}

#channel-list > span > span.input-group-addon:hover {
    color: #000;
    background-color: rgba(200, 0, 0, 1) !important;
    border-color: rgba(200, 0, 0, 1) !important;
    opacity:1;
}

#channel-list > span > button {
    text-align: left;
}

#channel-list .badge {
    position: absolute;
    top: 25%;
    right: 10px;
}


#channel-list{
    font-family: Open Sans;
    font-weight: 300;
    padding-top: 0;
    padding-bottom: 0;
    margin-top:0;

    border-left:none;
    border-right:none;
    border-top:solid;
    border-bottom:solid;
    border-radius: 0 !important;
    border-width:5px;
    border-bottom-color:rgb(255, 180, 0);
    border-color: rgba(111, 111, 111, 0.84);

    background:none;
    border:none;
    box-shadow:none;
}
#channel-list h1{
    border-bottom:solid;
    border-width:2px;
    border-color: rgba(111, 111, 111, 0.84);
}
#chat-content{
    border-top:solid;
    border-bottom:solid;
    border-top-width:10px;
    border-color: rgba(111, 111, 111, 0.84);
}

.panel-heading{
    background-color: rgba(0, 0, 0, 0.035);
    color:red;
}
.panel-heading .label{
    border-width:0.5px !important;
    border-right:solid;
        border-color: rgba(111, 111, 111, 0.84);
        border-radius: 0 !important;
}
.panel-heading .label:last-child{
    border:none;
}

#loginContainer{
    display:block;
    height: 550px;
    width: 550px;
    margin:auto;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    background: url(../images/LoginCircle6.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
}
#loginContainer #title{
    text-align: center;
    vertical-align: middle;
    margin-top:100px;
    color: white;
    font-size: 32pt;
    font-family: Open Sans;
    font-weight: 300;
}
#loginContainer #regErrorMsg{
    text-align: center;
    vertical-align: middle;
    margin:0;
    color: white;
    font-size: 32pt;
    font-family: Open Sans;
    font-weight: 300;
}
#loginContainer #homeLoginForm, #loginContainer #register-form{
    margin:auto;
    margin-top: 55px;
    width: 60%;
}

#loginContainer .form-group p{
    color: white;
    font-family: Open Sans;
    font-size: 12pt;
}

#loginContainer p{
    color: white;
    font-family: Open Sans;
    font-size: 12pt;
}

#loginContainer .btn-success{
    color: white;
    font-family: Open Sans;
    font-size: 17pt;
    width:90%;
    background: -moz-linear-gradient(top,  rgba(156, 255, 153, 0.7) 50%, rgba(129, 255, 125, 0.7) 10%); /* FF3.6+ */
}

#loginContainer .form-control{
    outline:none;
    border-left:none;
    border-right:none;
    border-top:none;
    border-radius: 0 !important;
    box-shadow:none !important;
    font-family: Open Sans;
    font-size:18pt;
    color: white;
    font-weight: 300;
    padding-left:40px;
    padding-top: 0;
    padding-bottom: 0;
    height:100%;
}
#loginContainer .form-control::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:white;
    opacity:  0.9;
}
#loginContainer .form-control:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:white;
   opacity:  0.9;
}
#loginContainer .form-control::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:white;
   opacity:  0.9;
}
#loginContainer .form-control:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:white;
   opacity:  0.9;
}
#loginContainer .form-control:placeholder-shown{ /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:white;
  opacity:  0.9;
}
#loginContainer .form-control:focus::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:white;
    opacity:  0;
}
#loginContainer .form-control:focus:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:white;
   opacity:  0;
}
#loginContainer .form-control:focus::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:white;
   opacity:  0;
}
#loginContainer .form-control:focus:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:white;
   opacity:  0;
}
#loginContainer .form-control:focus:placeholder-shown{ /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:white;
  opacity:  0;
}

#loginContainer #homeLogin-username{
    background: url(../images/glyphicons/png/userIcon2.png) no-repeat scroll 7px 5px rgba(0, 0, 0, .2);
    background-size: 22px 23px;

}
#loginContainer #homeLogin-password{
    background: url(../images/glyphicons/png/passwordIcon2.png) no-repeat scroll 5px 7px rgba(0, 0, 0, .2);
    background-size: 26px 22px;
}
#loginContainer #register-email{
    background: url(../images/glyphicons/png/emailIcon2.png) no-repeat scroll 7px 7px rgba(0, 0, 0, .2);
    background-size: 22px 22px;
}
#loginContainer .form-control:focus{
    color: white;
}
#loginContainer #register-form-submit{
    margin-bottom:10px;
    color: white;
    font-family: Open Sans;
    font-size: 17pt;
    width:90%;
    background: -moz-linear-gradient(top,  #80adff 50%, #6c9fff 10%); /* FF3.6+ */
    height: 45px;
}
#loginContainer #register-form-cancel{
    margin-bottom:10px;
    color: white;
    font-family: Open Sans;
    font-size: 17pt;
    width:90%;
    background: -moz-linear-gradient(top,  #ee6c70 50%, #eb5458 10%); /* FF3.6+ */
    height: 45px;
}

#registerContainer{
    height: 100px;
    width: 400px;
    margin:auto;
    margin-top: 10px;
    text-align:center;
}

#registerContainer p{
    color: white;
    font-family: Open Sans;
    font-size: 10pt;
    text-align:center;
    margin-bottom: 0;
}

#registerContainer .btn{
    outline:none;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:solid;
    border-radius: 0 !important;
    box-shadow:none !important;
    background: rgba(0, 0, 0, 0);
    font-family: Open Sans;
    font-size:18pt;
    color: #ff9835;
    font-weight: 300;
    padding-top: 0;
    padding-bottom: 0;
    margin-top:0;
    border-width:0.5px;
    border-bottom-color:rgb(255, 180, 0);
}

#registerContainer .btn:hover{
    color:white;
    border-bottom-color:white;
}

#chat-input {
    line-height: 1;
    resize: none;
}

.chat {
    overflow-y: scroll;
    height: 100%;
}

#channel-container {
    height: 100%;
}

.channel-item {
    height: 100%;
}

.row {
    padding-top: 10px;
    word-break: break-all;
}

#chat-frame strong, #user-list li {
    padding: 0 !important;
    margin: 0 !important;

}
#user-list, #user-list:hover{
    outline:none;
    border-left:none;
    border-right:none;
    border-top:solid;
    border-bottom:none;
    border-radius: 0 !important;
    box-shadow:none !important;
    font-family: Open Sans;
    font-weight: 300;
    padding-top: 0;
    padding-bottom: 0;
    margin-top:0;
    border-width:2px;
    border-bottom-color:rgb(255, 180, 0);

    background-color: transparent !important;
    background: transparent !important;
    border-color: rgba(111, 111, 111, 0.84);
}
#user-list > li > a{
    border-width:0.5px !important;
    border-bottom:solid;
    font-size:11pt;
    /*color: rgb(255, 255, 255);*/
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
    font-weight: 700;
    /*border-color: rgba(111, 111, 111, 0.84);*/
}
#user-list > li > a:hover{
    background-color: rgba(0, 80, 224, 0.31);
}
#channel-container{
    padding-bottom: 50px;
}
#channel-container .row {
    font-family: Open Sans;
    border-bottom: 1px solid #ccc;
    font-size:11pt;
    position: relative;
    padding: 0px;
    margin: 2px 0px;
}
#channel-container a{
    margin-left:10px;

}
#channel-container .timestamp{
    opacity:0.3;
}
#channel-container .col-md-10 {
    position: relative;
    padding: 1px 5px;
    background: #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: #DFE1E2 solid 1px;
    width:auto;

}

#channel-container .col-md-10:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 7px 5px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -7px;
    top: 4px;
}
#channel-container .col-md-10:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 7px 5px 0;
    border-color: transparent #DFE1E2;
    display: block;
    width: 0;
    z-index: 0;
    left: -8px;
    top: 4px;
}

#chat-content #search-form
{
    text-align:center;

}
#chat-content .input-group
{
    border:none;
    background-color:rgba(0, 0, 0, 0.40);
}

#chat-content #searchWord
{
    color:rgba(255, 255, 255, 0.83);
    border-color:transparent;
    background-color:rgb(50, 50, 50);
    height: 27px;
    border-radius: 50px;
    margin:auto;
    width:85%;
    margin-bottom:0;
    padding-left:10px;
    margin-top:10px;
}

#chat-content #searchDiv #search-alert
{
    font-style:italic;
    font-weight:600;
    color:rgba(255, 228, 140, 1);
    border-color:rgba(167, 0, 0, 0.2);
    background-color:rgba(255, 37, 37, 0.5);
    height: 27px;
    border-radius: 2px;
    margin:auto;
    width:85%;
    margin-bottom:0;
    padding-left:10px;
    margin-top:10px;
    padding-bottom:35px;
}

#chat-content #searchWord::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:red !important;
    opacity:  0.9;
}
#chat-content #searchWord:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:blue !important;
   opacity:  0.9;
}
#chat-content #searchWord::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:rgb(100, 100, 100);
   opacity:  1;
   font-style:italic;
   
}
#chat-content #searchWord:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:red !important;
   opacity:  0.9;
}
#chat-content #searchWord:placeholder-shown{ /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:red !important;
  opacity:  0.9;
}
#chat-content #searchWord:focus::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:red !important;
    opacity:  0;
}
#chat-content #searchWord:focus:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:red !important;
   opacity:  0;
}
#chat-content #searchWord:focus::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:red !important;
   opacity:  0;
}
#chat-content #searchWord:focus:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:red !important;
   opacity:  0;
}
#chat-content #searchWord:focus:placeholder-shown{ /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:red !important;
  opacity:  0;
}

#chat-content .input-group textarea
{
    padding-left:40px;
    background: url(../images/glyphicons/png/emailIcon2.png) no-repeat scroll 7px 2px rgba(0, 0, 0, .2);
    background-size: 22px 22px;
    color:white;
    border:none;
    background-color:rgb(82, 82, 82);
    
}

#chat-content .input-group textarea.form-control
{
    height:100%;
    
}

#chat-content .input-group #basic-addon2
{
    background-color:rgb(0, 154, 69);
    border:none;
    color:white;
    font-family:Open Sans;
    font-size:16pt;
    font-weight:500;
}

#chat-content .panel-footer {
    margin-top:10px;
}
#chat-frame {
    height: 90%;
}

.row-no-padding > .panel {
   padding: 0 !important;
   margin: 0 !important;
}

.top-buffer {
  margin-top: 1%;
}

.searchitem.active:hover {
    background-color: #090;
}

.searchitem.success:hover {
    background-color: #666;
}
