html{
<<<<<<< HEAD
  /*background: url(../images/home_background.jpg) no-repeat center center fixed; 
=======
  background: url(../images/home_background.jpg) no-repeat center center fixed; 
>>>>>>> origin/master
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: #3C3C3E;
}

body, html {
    height: 100%;
}

body {
  padding-top: 50px;
  background : none;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  color : white; 
}
.container{

}

#primaryButton{
    font-size : 10pt;
    height: 80%%;
}
<<<<<<< HEAD
#content{
  background: #689096;
  border-radius: 8px;
  height: 90%;
}
.top-buffer {
  margin-top:1%;
}
#grey-text {
  color:#57575B;
=======

#homeTitle{
    font-family : Open Sans, sans-serif;
    font-weight : 300;
    font-size : 114pt;
>>>>>>> origin/master
}